.CodeBlock {
  position: relative;
  display: block;
}

.CodeBlock--wrapLines {
  white-space: pre-wrap;
}

.CodeBlock__content {
  display: block;
  padding: var(--spacing-default);
  font-family: var(--font-family-monospace);
  background-color: var(--gray-200);
  font-size: 85%;
  white-space: pre;
  width: 100%;
  resize: none;
  overflow: auto;
}

.CodeBlock__content:focus {
  outline: none;
  background-color: var(--gray-300);
}

.CodeBlock__copyBadge {
  position: absolute;
  right: var(--spacing-default);
  top: 0;
  background-color: var(--gray-400);
  color: var(--gray-700);
  line-height: 100%;
  padding: var(--spacing-tiny) var(--spacing-slim);
  border-bottom-left-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
}

.CodeBlock__copyBadge:hover {
  filter: brightness(105%);
  color: var(--gray-900);
}

.CodeBlock__copyBadge:active {
  background-color: var(--gray-500);
  color: var(--gray-600);
}

.CodeBlock__resizeHandle {
  position: relative;
  height: 3px;
  background-color: var(--gray-300);
}

.CodeBlock__resizeHandle::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 1px;
  width: 6px;
  height: 1px;
  background-color: var(--gray-500);
}

.CodeBlock__resizeHandle:hover {
  background-color: var(--gray-600);
  cursor: pointer;
}

.CodeBlock__resizeHandle:hover::after {
  background-color: #fff;
}
