.QueryRunMessage {
  font-weight: var(--font-weight-bold);
  color: var(--gray-600);
}

.QueryRunMessage--danger {
  color: var(--color-red-600);
}

.QueryRunMessage > .Button {
  margin-left: var(--spacing-default);
}
