.TableLink {
  margin: calc(-1 * var(--spacing-tiny)) 0;
  padding: var(--spacing-tiny);
  transition: var(--transition-default);
}

.TableLink + .TableLink {
  margin-left: var(--spacing-tiny);
}

.TableLink--tiny {
  padding-top: 0;
  padding-bottom: 0;
}

.TableLink:disabled {
  opacity: 0.5;
  cursor: default;
}

.TableLink:not(:disabled):hover {
  transition: var(--transition-hover);
}

.TableLink--default {
  box-shadow: inset 0 -2px 0 var(--gray-200);
}

.TableLink--default:not(:disabled):hover {
  background-color: var(--gray-200);
  box-shadow: inset 0 -2px 0 var(--gray-400);
}

.TableLink--default:not(:disabled):active {
  background-color: var(--gray-300);
  box-shadow: inset 0 -2px 0 var(--gray-500);
}

.TableLink--rounded {
  background-color: var(--gray-200);
  border-radius: var(--border-radius-slim);
  padding-left: var(--spacing-slim);
  padding-right: var(--spacing-slim);
}

.TableLink--rounded:not(:disabled):hover {
  background-color: var(--gray-300);
  color: var(--gray-900);
}

.TableLink--rounded:not(:disabled):active {
  background-color: var(--gray-400);
  color: var(--gray-700);
}
